body {
   margin: 0;
   padding: 0;
   box-sizing:  border-box;
}

.singlePage {
    margin-top: 10px;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    text-align: center;
}
.singlePage img {
    width: 80%;
    height: 60%;
   transition: width 0.5s, height 0.5 ;
  

}
form {
    text-align: center;

}
.hover {
    width: 90%;
    height: 80%;
}
